body{
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

header{
    height: 40px;
    background-color: orangered;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 10px 50px;
    margin: 0;
}
.hamburger{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.hamburger div{
    width: 20px;
    height: 3px;
    background-color: white;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.banner{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
.text{
    position: absolute;
    top: 100px;
    left: 500px;
}
.banner .input-search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.banner .input-search input{
    width: 250px;
    height: 20px;
    border: none;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    outline: none;
}

.banner img{
    width: 100%;
    height: 400px;
}
.banner .input-search .search{
    width: 40px;
    height: 40px;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.meals-container{
    display: none;
    /* display: flex; */
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 30px;
    margin: 60px;
}
.active{
    display: flex;
}
.meals-container h1{
    width: 70px;
    border-bottom: 3px solid orangered;
    padding-bottom: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 60px;

}

.category-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    
}
#category-card{
    position: relative;
    width: 280px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.category-container img{
    width: 100%;
    height: 150px;
}
.category-container .category-name{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: orangered;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.container h1{
    border-bottom: 3px solid orangered;
    width: 100px;
    padding-bottom: 10px;
    
}
a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.meals-products{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.meals-products img{
    width: 100%;
}

.meal-name{
    position: absolute;
    font-size: 20px;
    background-color: orangered;
    padding: 5px;
    top: 10px;
    right: 10px;
    color: white;
}
.para1{
    font-size: 20px;
}
.para2{
    font-size: 30px;
    font-weight: bolder;
}
.meal{
    margin: 100px;
}
.prod{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.meal img{
    width: 100%;
    height: 150px;
    border: none;
}
.meal h1{
    border-bottom: 3px solid orangered;
    width: 60px;
    padding-bottom: 10px;
}
#pname{
    font-size: 25px;
    font-weight: bolder;
}

.meals_details{
    margin: 60px;
   
}


#meal_product_card{
    margin: 40px;
    display: flex;
    background-color: white;
    padding: 50px;
}

#meal_product_card img{
    width: 500px;
    height: 600px;
}

.img-content{
    display: flex;
    gap: 100px;
}
#text h1{
    color: orangered;
    font-size: 40px;
    border-bottom: 2px solid orangered;
    padding-bottom: 10px;
}
ol{
   
}
.ingredients-info{
    font-size: 18px;
    background-color: orangered;
    padding: 5px;
    color: white;
}
.ingredients-info #ingredients{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

